{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@GanttChartBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@GanttChartBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <a href="/gantt">Gantt chart</a>
{% endblock %}
